@media screen and (max-width: 830px) {
	.description {
		font-size: 35px;
        padding: 40px 0 0 0;
	}

    button {
        width: 15%;
    }
}

@media screen and (max-width: 655px) {
	header {
        height: 80px;
        font-size: 30px;
    }
    
    .description {
		font-size: 30px;
	}
}

@media screen and (max-width: 567px) {
	.description {
		font-size: 28px;
	}
}

@media screen and (max-width: 535px) {
	.description {
		font-size: 26px;
        padding: 20px 0 0 0;
	}

    .one, .two {
        width: 45%;
    }
}

@media screen and (max-width: 497px) {
	header {
        height: 70px;
        font-size: 30px;
    }
    
    .description {
		font-size: 24px;
        padding: 0;
	}

    .search {
        margin-top: 15px;
    }
}

@media screen and (max-width: 461px) {
    .description {
        display: none;
    }

    #new {
        display: flex;
        font-size: 28px;
    }

    button {
        width: 20%;
    }

    .one, .two {
        width: 50%;
    }
}

@media screen and (max-width: 417px) {
    #new {
        display: none;
        font-size: 28px;
    }

    #new1 {
        display: flex;
        font-size: 28px;
    }

    #p, #p1 {
        font-size: 23px;
    }

    .p {
        width: 70%;
        font-size: 23px;
        margin: 0;
    }
}

@media screen and (max-width: 388px) {
    #p, #p1 {
        font-size: 20px;
    } 
}

@media screen and (max-width: 356px) {
    #new1 {
        font-size: 23px;
    }

    #search {
        width: 60%;
    }

    .one, .two {
        width: 60%;
    }
    
    .p {
        width: 75%;
    }

    button {
        width: 50%;
    }

    #p, #p1 {
        font-size: 20px;
        display: none;
    }

    #p2, #p3 {
        display: block;
        margin: 5px;
    }

    #p3 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 295px) {
    header {
        height: 60px;
        font-size: 22px;
    }
}

@media screen and (max-width: 251px) {
    #new1 {
        font-size: 20px;
    }

    #search {
        width: 55%;
        font-size: 17px;
    }

    .one, .two {
        width: 60%;
    }

    .p {
        width: 75%;
    }
}