body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
	width: 100%;
	height: 90px;
	color: white;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: bold;
    position: fixed;
    top: 0px;
}

.menu {
    width: 30px;
    height: 25px;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 50px;
}

.rect {
    width: 30px;
    height: 5px;
    background: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.letters {
    margin: 100px 0 10px 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#new {
    width: 100%;
    height: 250px;
    display: none;
    color: black;
    flex-direction: column;
}

.rows {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.letter, .letter1 {
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 600;
}

hr {
    background: green;
    width: 90%;
    height: 2px;
}

#words {
    width: 80%;
    height: auto;
    border: 3px solid green;
    padding: 0 0 0 10px;
    margin: 20px 0 50px 0;
}

p {
    margin: 5px;
}

button {
	width: 10%;
	height: 40px;
	margin-top: 20px;
	background: green;
	font-size: 18px;
	color: white;
	border: none;
	cursor: pointer;
}

.submit {
	background: green;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	font-size: 25px;
	padding: 20px 0 20px 0;
}

.one {
	width: 37%;
	height: 35px;
	margin-bottom: 20px;
	font-size: 16px;
}

input {
	outline: none;
	padding: 0 10px;
}

.two {
	width: 37%;
	font-size: 16px;
	padding: 5px 10px 80px 10px;
	outline: none;
	resize: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.second {
	background: white;
	color: green;
    width: 10%;
	height: 40px;
	margin-top: 20px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

#p2, #p3 {
    display: none;
}