body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
	width: 100%;
	height: 90px;
	color: white;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: bold;
    position: fixed;
    top: 0px;
}

.description {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: black;
	font-size: 45px;
	font-weight: bold;
	padding: 50px 0 0 0;
    margin: 90px 0 0 0;
}

#new {
    display: none;
}

#new1 {
    display: none;
}

p {
	margin: 10px;
}

span {
	color: green;
}

.search {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: white;
	font-size: 50px;
	font-weight: bold;
	padding: 30px 0;
	margin-top: 30px;
}

input {
	outline: none;
	padding: 0 10px;
}

#search {
	width: 45%;
	height: 45px;
	border: 2px solid green;
	font-size: 18px;
}

button {
	width: 10%;
	height: 40px;
	margin-top: 20px;
	background: green;
	font-size: 18px;
	color: white;
	border: none;
	cursor: pointer;
}

.p {
    background: white;
    width: 60%;
    padding: 20px 0;
    text-align: center;
    color: black;
    font-weight: 600;
}

#p2, #p3 {
    display: none;
}

.submit {
	background: green;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	font-size: 25px;
	padding: 20px 0 20px 0;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: green;
    text-transform: uppercase;
}

hr {
    background: white;
    width: 90%;
}

.one {
	width: 37%;
	height: 35px;
	margin-bottom: 20px;
	font-size: 16px;
}

.two {
	width: 37%;
	font-size: 16px;
	padding: 5px 10px 80px 10px;
	outline: none;
	resize: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.second {
	background: white;
	color: green;
}

.meaning {
	width: 70%;
	height: auto;
	border: 3px solid green;
	margin-bottom: 20px;
	color: black;
	display: none;
}